/**
 * @name Translucence Yumero Overlay
 * @version 1.0
 * @description CapnKitten/Translucent theme overlay
 * @author Yumero
 */
:root {
  --app-bg: url(https://i.imgur.com/py146Ml.png) !important;
  --app-radius: 8px !important;
  --accent-hue: -175 !important;
  --accent-saturation: 90% !important;
  --accent-lightness: 60% !important;
}

._160d8e55254637e5-layers {
  margin: initial !important;
  border-radius: initial !important;
}

.appMount_ea7e65 svg {
  filter: unset !important;
}
